sudo: true
language: python
cache: pip

matrix:
    include:
        - python: 2.7
          env: TOXENV=py27
        - python: 3.4
          env: TOXENV=py34
        - python: 3.5
          env: TOXENV=py35
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7-dev
          env: TOXENV=py37
        - python: 2.7
          env: TOXENV=qa
    allow_failures:
        - python: 3.7-dev
addons:
  apt:
    packages:
    - libsdl1.2-dev
    - libsdl-image1.2-dev
    - libsdl-mixer1.2-dev
    - libsdl-ttf2.0-dev
    - libportmidi-dev
    - libfreetype6-dev
    - libjpeg8-dev
    - i2c-tools

install: pip install -U pip tox coveralls
script: tox -vv
after_success:
  - coveralls
