dist: bionic
language: python
cache: pip

matrix:
    include:
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7
          env: TOXENV=py37
        - python: 3.8
          env: TOXENV=py38
        - python: 3.9-dev
          env: TOXENV=py39
        - python: 3.8
          env: TOXENV=qa,doc

addons:
    apt:
        packages:
            - graphviz

install:
  - pip cache purge 
  - pip install --ignore-installed --upgrade setuptools pip tox coveralls
script: tox -vv
after_success: if [ "$TOXENV" == "py38" ]; then coveralls; fi
