include README.rst CHANGES.rst CONTRIBUTING.rst LICENSE.rst tox.ini setup.cfg .coveragerc

recursive-include luma *.py

recursive-include doc *
prune doc/_build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
recursive-exclude * .DS_Store
recursive-exclude * .ropeproject
