name: luma.oled

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-minor-version: [6, 7, 8, 9]
    name: Python 3.${{ matrix.python-minor-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup pip cache
        uses: actions/cache@v2
        id: pipcache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-py3${{ matrix.python-minor-version }}-pip-
      - name: Install system dependencies
        run: sudo apt-get install graphviz
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.${{ matrix.python-minor-version }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install Python packages
        run: pip install --upgrade setuptools pip wheel tox
      - name: Run tests
        env:
          TOX_ENV: py3${{ matrix.python-minor-version }}
        run: python -m tox -e $TOX_ENV
      - name: QA
        env:
          TOX_ENV: qa,doc
        run: python -m tox -e $TOX_ENV
      - name: Upload Coverage
        run: coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.test-name }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Finish Coveralls
    needs: build
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
